/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
}

/* Header */
header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    color: white;
    font-size: 16px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin: 0;
}

.hero-content p {
    font-size: 16px;
    color: #b0b8c1;
}

.cta-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Hero Image */
.hero-image img {
    width: 400px;
    border-radius: 8px;
}

/* Random Information Section */
.info {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.info h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.info-boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box {
    background-color: white;
    border: 2px solid #3882f6;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box img {
    width: 100%; /* Make the image take the full width of the box */
    height: auto; /* Keep the image's aspect ratio */
    border-radius: 8px;
}

.box p {
    margin-top: 10px; /* Space between the image and the text */
    font-size: 16px;
    color: #333;
}

/* Quote Section */
.quote-section {
    background-color: #e5e7eb;
    padding: 50px;
    text-align: center;
    font-style: italic;
    color: #1f2937;
}

blockquote {
    font-size: 24px;
    font-weight: lighter;
}

cite {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

/* Call-to-action Section */
.cta-section {
    background-color: #3882f6;
    text-align: center;
    padding: 30px;
    color: white;
}

.cta-section p {
    font-size: 20px;
}

.cta-button {
    background-color: white;
    color: #3882f6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
